@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{

    --primary-font:"Josefin Sans", sans-serif;;
      --secondary-font: "Lato", sans-serif;
    --white-color:#fff;
    --text-color:#242424;
    --primary-color:#E0D3F5;
    --secondary-color:#CCCCCC;
    --pink-color:#FB2E86;
    ---hover-color:#2F1AC4;
    --sky-blue:#EAEBED;
    --off-blue:#151875;
    --off-purplecolor:#9F63B5;
    --off-navy-blue:#3F509E;
    --purple-color:#7E33E0;
        
}

